html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-20deg, rgba(97, 43, 43, 0.781) 50%, #000 50%);
    bottom: 0;
    left: -100%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
.bg3 {
    animation-duration: 5s;
}


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.barra {
    display: inline-block;
    background: rgb(85, 23, 23);
    color:aliceblue;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
}

.barra:hover {
    background: rgba(160, 123, 123, 0.219);
}



h2 {
    font-weight: 600;
}

p {
    font-weight: 100;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/yz85.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}
.foto h1{
    color: white;
    font-size: 12mm;
}

.foto button{
    font-size: 8mm;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(85, 23, 23);
}
button:hover{
    background-color: rgb(90, 37, 37);
}
iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.columna {
    background: rgb(238, 238, 238);
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 12px 10px #8888;
    width: 24%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;


}
.columna button{
    position:absolute; bottom: -12px;left: 0;
    border-radius: 0 0 20px 20px; 
    margin-bottom: 10px;
    width: 100%;
    
}
.imagen1 {
    display: block;
    margin: auto;
    width: 220px;
    height: 150px;
    margin-bottom: 20px;
}
nav {
    font-size: 6mm;
    text-align: center;
    background: gray;
    background-color: rgb(85, 23, 23);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.columnas {
    display: flex;
}

.nav-boton {
    background: rgb(85, 23, 23);
    color: aliceblue;
    padding: 10px 0;
    border: 2px solid rgb(100, 41, 41);
    display: none;
}
.visitanos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 100%;height: 50%;
    background-color: rgb(85, 23, 23);
}
form{
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 350px;

}

input, textarea{
    outline: none;
    border: 2;
    width: 300px;

}
.field{
    border: solid 1px #ccc;
    padding: 10px;
    
}

.field:focus{
    border-color: #18a383;
}

.center-content{
    text-align: center;
}
footer{
    background-color: rgb(85, 23, 23);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(156, 154, 154);
}

footer .container{
    margin-top: 50px;
    height: 150px;
    display: block;
    text-align: center;
}

@media (max-width: 600px) {
    nav {
        background: black;
        flex-direction: column;
    }

    .barra {
        margin: 18px 2px;
    }

    .nav-boton {
        display: inline-block;
    }

    .desaparece {
        display: none;
    }
    .columna{
        width: 100%;
        margin-bottom: 25px;
    }
}